.offcanvas {
  transition: 0.5s ease-in-out !important;
}
nav {
  box-shadow: 0px 2px 10px rgb(255, 0, 0);
}

.navbar {
  z-index: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.btn-close:focus,
.btn-close:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

input {
  outline: none;
}

.btn-close {
  outline: none;
}

.login-btn {
  background: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
}
.login-btn:hover {
  background: rgb(240, 39, 39);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.cart-btn:hover {
  transform: scale(1.1);
}

.underline {
  height: 4px;
  background-color: black;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

/* serach css */
.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: rgb(240, 39, 39);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(209, 0, 0);
}

/* Remove the default blue background color for active nav links and list items */
.nav-item .nav-link.active,
.nav-item .nav-link:focus,
.nav-item .nav-link:active {
  background-color: transparent; /* No background color */
  color: #000000; /* Change the text color to your desired color */
  outline: none;
  box-shadow: none;
}

/* Remove the default blue focus outline for buttons */
button.nav-link:focus {
  outline: none;
  box-shadow: none;
}

/* Ensure the dropdown items also lose their blue background when active */
.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: red; /* No background color */
  color: #ffffff; /* Custom text color */
}

.dropdown-menu .dropdown-item {
  border-radius: 10px;
}
.dropdown-menu.show,
.dropdown-menu {
  border-radius: 20px !important;
  background-color: rgb(255, 255, 255);
}

.custom-dropdown::after {
  display: none !important;
}


@media (max-width: 768px) {
  .in-media {
    margin: 20px 20px 0px 0px;
  }
  .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
  }
}
